<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日記</title>
    <link rel="stylesheet" th:href="@{/css/diary.css}">
</head>
<body>
    <div class="container">
        <h2>ようこそ、日記ページへ</h2>

        <form th:action="@{/diary}" method="post" th:object="${diary}">
			<!--編集時はid含める-->
			<input type="hidden" th:field="*{id}" />
			
            <label>タイトル：</label><br>
            <input type="text" th:field="*{title}" required/><br>

            <label>本文：</label><br>
            <textarea th:field="*{content}" rows="5" cols="40" required></textarea><br>

            <button type="submit">記録する</button>
        </form>

        <hr>
        <h3>これまでの日記</h3>
        <ul>
            <li th:each="d : ${diaries}">
                <strong th:text="${d.title}">タイトル</strong>
                （<span th:text="${#temporals.format(d.createdAt, 'yyyy/MM/dd HH:mm')}"></span>）<br>
                <p th:text="${d.content}">本文</p>
				
				<div>
				     <!-- 編集リンク -->
					 <a th:href="@{'/diary/edit/' + ${d.id}}" class="edit-button">編集</a>

				     <!-- 削除フォーム -->
				     <form th:action="@{'/diary/delete/' + ${d.id}}" method="post" style="display:inline;">
				           <button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
				     </form>
				</div>
				
                <hr>
            </li>
        </ul>

        <form th:action="@{/logout}" method="post">
            <button type="submit">ログアウト</button>
        </form>
    </div>
</body>
</html>
